In [1]:
type(500)

int

In [2]:
type("heloo")

str

In [3]:
int(3.9)

3

In [6]:
int(2.3)

2

In [7]:
print(in 5 years what will be your age 'age+5')

SyntaxError: invalid syntax (1368299801.py, line 1)

In [8]:
a,y,z="orange"
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [9]:
x,y,z="orange"
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [10]:
x="python"
y="is"
z="awesome"
print(x,y,z)

python is awesome

In [11]:
x="python"
y="is"
z="awesome"
print(x+y+z)

pythonisawesome

In [12]:
x=5
y="vinayak"
print(x,y)

5 vinayak

In [13]:
x="function"

def myfunc():
    print("python is"+x)

In [14]:
x="awesome"
def myfunc():
    print("python is"+x)

In [15]:
a="""my name is vinayak
i m a student
who are you"""

print(a)

my name is vinayak
i m a student
who are you

In [16]:
b="hello"
print(b[2:5])

llo

In [17]:
b="hello"
print(b[:5])

hello

In [18]:
b="hello,world"
print(b[1:])

ello,world

In [19]:
a="hello,world"
print(a[-5:-2])

wor

In [20]:
a="hello,world!"
print(a[-5:-2])

orl

In [21]:
a="hello"
b="world"
print(a+b)

helloworld

In [22]:
22/9/1990

0.0012283640424343943

In [23]:
age=36
txt="my nmae is vinayak and i am {}"
print(txt,"age")

my nmae is vinayak and i am {} age

In [24]:
age=36
txt="my nmae is vinayak and i am {}"
print(txt,age)

my nmae is vinayak and i am {} 36

In [25]:
age=36
txt="my nmae is vinayak and i am {}"
print(txt,age{})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3906818001.py, line 3)

In [26]:
age=36
txt="my nmae is vinayak and i am" {}
print(txt,"age")

SyntaxError: invalid syntax (2251360170.py, line 2)

In [27]:
age=36
txt="my nmae is vinayak and i am {}"
print(txt,{})

my nmae is vinayak and i am {} {}

In [28]:
age=36
txt="my nmae is vinayak and i am {}"
print(txt,"{}")

my nmae is vinayak and i am {} {}

In [29]:
print(10>9)
print(10==9)

True
False

In [30]:
x=3000
print(isinstance(x,int))

True

In [36]:
a=5
b=6
print(a,b)

5 6

In [37]:
a=5
b=6
print(type)

<class 'type'>

In [38]:
a=5
b=6
print('type')

type

In [40]:
dir

In [41]:
integer variable = 89
float variable = 99.0
string variable = "hello"
print("integer variable")
print("float variable")
print("string variable")

SyntaxError: invalid syntax (1455622387.py, line 1)

In [42]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable")
print("float variable")
print("string variable")

integer variable
float variable
string variable

In [43]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)

integer variable 89
float variable 99.0
string variable hello

In [44]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("/nall variables:")

integer variable 89
float variable 99.0
string variable hello
/nall variables:

In [45]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("\nall variables:")

integer variable 89
float variable 99.0
string variable hello

all variables:

In [46]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("/nall variables:")
print(f"integer variable: {integer_variable}")

integer variable 89
float variable 99.0
string variable hello
/nall variables:
integer variable: 89

In [47]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("/nall variables:")
print("integer variable: {integer_variable}")

integer variable 89
float variable 99.0
string variable hello
/nall variables:
integer variable: {integer_variable}

In [48]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("/nall variables:")
print(f"integer variable: {integer_variable}")
print(f"float variable,{float_variable}")
print(f"string variable,{string_variable}")

integer variable 89
float variable 99.0
string variable hello
/nall variables:
integer variable: 89
float variable,99.0
string variable,hello

In [49]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print(f"integer variable: {integer_variable}")
print(f"float variable,{float_variable}")
print(f"string variable,{string_variable}")

integer variable 89
float variable 99.0
string variable hello
integer variable: 89
float variable,99.0
string variable,hello

In [50]:
integer_variable = 89
float_variable = 99.0
string_variable = "hello"
print("integer variable",integer_variable)
print("float variable",float_variable)
print("string variable",string_variable)
print("\nall variables:")
print(f"integer variable: {integer_variable}")
print(f"float variable,{float_variable}")
print(f"string variable,{string_variable}")

integer variable 89
float variable 99.0
string variable hello

all variables:
integer variable: 89
float variable,99.0
string variable,hello

In [51]:
x = 89
y= 99.0
z = "hello"
print(type(x))

<class 'int'>

In [52]:
x = 89
y = 99.0
z = "hello"
print("x",integer_variable)
print("y",float_variable)
print("z",string_variable)
print("\nall variables:")
print(f"x: {integer_variable}")
print(f"y:{float_variable}")
print(f"z:{string_variable}")

x 89
y 99.0
z hello

all variables:
x: 89
y,99.0
z,hello

In [53]:
x = 89
y = 99.0
z = "hello"
print("x",integer_variable)
print("y",float_variable)
print("z",string_variable)
print("\nall variables:")
print(f"x: {integer_variable}")
print(f"y:{float_variable}")
print(f"z:{string_variable}")

x 89
y 99.0
z hello

all variables:
x: 89
y:99.0
z:hello

In [54]:
x = 89
y = 99.0
z = "hello"
print("x")
print("y")
print("z")
print("\nall variables:")
print(x,y,z)

x
y
z

all variables:
89 99.0 hello

In [56]:
x = 89
y = 99.0
z = "hello"
print("x")
print("y")
print("z")
print("\nall variables:")
print(x,y,z)
print(type(x))

x
y
z

all variables:
89 99.0 hello
<class 'int'>

In [57]:
x = 89
y = 99.0
z = "hello"
print("x")
print("y")
print("z")
print("\nall variables:")
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

x
y
z

all variables:
89 99.0 hello
<class 'int'>
<class 'float'>
<class 'str'>

In [58]:
x = 89
y = 99.0
z = "hello"
print(x)
print("y")
print("z")
print("\nall variables:")
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

89
y
z

all variables:
89 99.0 hello
<class 'int'>
<class 'float'>
<class 'str'>

In [59]:
x = 89
y = 99.0
z = "hello"
print(x)
print(y)
print(z)
print("\nall variables:")
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

89
99.0
hello

all variables:
89 99.0 hello
<class 'int'>
<class 'float'>
<class 'str'>

In [60]:
x = 89
y = 99.0
z = "hello"
print(x)
print(y)
print(z)
print("\nall variables:")
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))
del (x)
print(x)

89
99.0
hello

all variables:
89 99.0 hello
<class 'int'>
<class 'float'>
<class 'str'>

NameError: name 'x' is not defined

In [61]:
#Q1
x = 89
y = 99.0
z = "hello"
print(x)
print(y)
print(z)
print("\nall variables:")
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))
del(x)
print(x)

89
99.0
hello

all variables:
89 99.0 hello
<class 'int'>
<class 'float'>
<class 'str'>

NameError: name 'x' is not defined

In [62]:
#Q2
a=2354
print("the first digit is:",int(a/1000))
print("last digit is:",a%10)

the first digit is: 2
last digit is: 4

In [78]:
#Q3
a="Vinayak"
b="Srivastava"
print(b+" "+a)

Srivastava Vinayak

In [80]:
#Q4
a=45
b=56
print(a,b)
print(id(a))
print(id(b))

45 56
140705126039352
140705126039704

In [83]:
#Q5
a=580
b=250
result_float=a/b
result_int=a//b
print(f"floating point division result:{result_float}")
print(f"int division result:{result_int}")

floating point division result:2.32
int division result:2

In [86]:
#Q6
a="My name is Vinayak Srivastava"
b="I am a Student"
print(a,b)
print(b,a)

My name is Vinayak Srivastava I am a Student
I am a Student My name is Vinayak Srivastava

In [87]:
#Q7
a=[1,2,3,4,5]
check_ele=input("enter the element to check-")
for i in a:
    if i==check_ele:
        print("The element is available!")
        break

else:
    print("The element is not available")

enter the element to check- 34

The element is not available

In [35]:
#Q7
x=("apple","banana")
print("pineapple"not in x)

True

In [2]:
#Q8
x1 = float(input('Enter x1: '))
y1 = float(input('Enter y1: '))
x2 = float(input('Enter x2: '))
y2 = float(input('Enter y2: '))

d = ( (x2-x1)**2 + (y2-y1)**2 ) ** 0.5

print('Distance = %f' %(d))

Enter x1:  3
Enter y1:  4
Enter x2:  2
Enter y2:  5

Distance = 1.414214